<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            SMS - {{title}}
        {% else %}
            {{_('Shipment Management System')}} 
        {% endif %}
    </title>
</head>
<body>
    <!-- start header -->
    {% block header %}{% endblock %}
    <!-- end header -->
    <!-- start content -->
    {% block content %}{% endblock %}
    <!-- end content -->
    <!-- start footer -->
    {% block footer %}{% endblock %}
    <!-- end footer -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>